.comprador-bg {
  padding-top: 80px;
  background-color: #000;
  background-image: url('/imagens/carrinho.png');
  background-position: right center;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position-x: 80%;
  padding-bottom: 40px;
}

.container-comprador {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.texto-comprador {
  margin-top: 80px;
  margin-bottom: 40px;
  max-width: 700px;
}

.imagem-comprador img{
  display: none;
}

@media (max-width:1500px) {
  .comprador-bg {
    background-position-x: 100%;
  }
  

}

@media (max-width:820px) {
  .comprador-bg {
    padding-top: 0px;
    background-image: none;
  }
  .container-comprador {
    display: flex;
  }
  .imagem-comprador img{
    display: inline;
    width: 100%;
    margin-top: -30%;
  }
  .texto-comprador {
    margin-top: 80px;
    margin-bottom: 40px;
    max-width: 480px;
  }
}

@media (max-width:400px) {
  .texto-comprador {
    min-width: 310px;
    padding-top: 120px;
  }
  .imagem-comprador img{
    display: flex;
    width: 250px;
    margin-left: -90%;
    margin-top: -20%;
  }
}